<ng-include src="'salt/teams/_support_header_title.html'"></ng-include>

<h3 class="font-weight-regular text-center">Thank you for your support!</h3>

<div class="container">
  <h4 style="margin-top:30px; margin-bottom: 20px;">Please help us get the word out:</h4>
  <div class="row">
    <div class="col-md-6">
      <div>        
        <a class="mr-5" target="_blank" ng-href="https://twitter.com/intent/tweet?text={{(team.support_offering.extra.twitter_share_text || default_share_title)|encodeURIComponent}}%20{{share_url|encodeURIComponent}}">
          <%= image_tag 'icons/icon_twitter_circle.svg' %>
        </a>
        <a class="mr-5" target="_blank" ng-href="http://www.reddit.com/submit?url={{share_url|encodeURIComponent}}&amp;title={{(team.support_offering.extra.reddit_share_text || default_share_title)|encodeURIComponent}}">
          <%= image_tag 'icons/icon_reddit_circle.svg' %>
        </a>
        <a class="mr-5" target="_blank" ng-href="https://plus.google.com/share?url={{share_url|encodeURIComponent}}">
          <%= image_tag 'icons/icon_googleplus_circle.svg' %>
        </a>
        <a class="mr-5" target="_blank" ng-href="https://www.facebook.com/sharer/sharer.php?u={{share_url|encodeURIComponent}}">
          <%= image_tag 'icons/icon_facebook_circle.svg' %>
        </a>
        <br/>

        <h4 style="margin-top:30px; margin-bottom: 10px;">Here is the direct URL for copy-and-paste:</h4>
        <input type="text" class="form-control input-medium" readonly value="{{share_url}}">
        
        <br/><br/><br/>

        <div class="text-center">
          <a ui-sref="root.teams.show(support_level.team)" class="font-weight-medium">Return to {{support_level.team.display_name}}</a>
        </div>

      </div>
    </div>
    <div class="col-md-6">
      <div class="row display-flex">
        <div class="col-xs-12 col-sm-8">
          <div class="card">
            <div class="alert alert-danger" ng-show="support_level.status==='canceled'">
              <h3>Canceled: {{ support_level.canceled_at | date }}</h3>
              <div>You will not be billed again.</div>
            </div>

            <div class="alert alert-danger" ng-show="support_level.status==='unpaid'">
              <h3>Billing Error</h3>
              <div>There was a problem with your billing. Please <a ui-sref="root.checkout.amount({ support_level_id: support_level.id })">update your payment method</a> to try again. If you have any questions, please email us at <a href="mailto:support@bountysource.com">support@bountysource.com</a>.</div>
            </div>

            <div class="btn-group pull-right" dropdown ng-hide="support_level.status==='canceled'">
              <button type="button" ui-sref="root.checkout.amount({ support_level_id: support_level.id })" class="btn btn-default">
                <%= image_tag 'icons/icon_edit.svg' %>
              </button>
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" dropdown-toggle>
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a ui-sref="root.checkout.amount({ support_level_id: support_level.id })"><span class="glyphicon glyphicon glyphicon-cog"></span> Edit Support</a></li>
                <li><a ng-click="show_destroy_modal()"><span style="color: red" class="glyphicon glyphicon-remove"></span> Cancel Support</a></li>
              </ul>
            </div>

            <h4>Amount</h4>
            <div>{{support_level.amount | dollars}} per month.</div>

            <div ng-show="team.support_offering.rewards.length > 0 && support_level.reward">
              <h4 style="margin-top: 20px">Reward: {{support_level.reward.title}}</h4>
              {{support_level.reward.description}}
            </div>

            <div ng-hide="support_level.status==='canceled'">
              <h4>Payment Details</h4>
              {{support_level.payment_method.description}}
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="card">
            <h4>Display As</h4>
            <div class="" style="max-width: 150px">
              <img ng-src="{{support_level.owner.image_url_large}}" class="img-responsive img-circle" />
              <div class="text-center">{{support_level.owner.display_name}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <section id="support-level-payments" class="mt-5">
    <h4>Previous Payments</h4>
    <table class="table table-centered">
      <thead>
        <th>Id</th>
        <th>Amount</th>
        <th>Created</th>
      </thead>
      <tbody>
        <tr ng-repeat="support_level_payments in support_level.support_level_payments">
          <td>{{ support_level_payments.id }}</td>
          <td>{{ support_level_payments.amount }}</td>
          <td>{{ support_level_payments.created_at | date }}</td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
