<p>
  Hi <%= @person.first_name %>,
</p>

<p>
  A claim by <%= @bounty_claim.person.display_name %> has been submitted for <a href="<%= "#{Api::Application.config.www_url}issues/#{@bounty_claim.issue.to_param}" %>"><%= @bounty_claim.issue.title %></a>. The bounty will be paid out if all backers accept the claim. If no action is taken, the bounty will be paid out after two weeks.
</p>

<p>
  To view the claim and cast your vote, please click here: <a href="<%= "#{Api::Application.config.www_url}issues/#{@bounty_claim.issue.to_param}/claims" %>"><%= "#{Api::Application.config.www_url}issues/#{@bounty_claim.issue.to_param}/claims" %></a>
</p>