<p>
  Hi <%= @person.first_name %>,
</p>

<p>
  Your claim on <%= issue_link(@bounty_claim.issue) %> has been accepted. Congratulations!
</p>
<% if @responses.length > 0 %>
  <p>Messages from backers:</p>
<% end %>
<% @responses.each do |response| %>
  <p>
    "<%= response.description %>" -<a href="<%= "#{Api::Application.config.www_url}people/#{response.person.to_param}" %>"><%= response.person.display_name %></a>
  </p>
<% end %>

<p>
  The <%= number_to_dollars(@bounty_claim.amount) %> bounty has been paid out to your Bountysource account. To request a cash out, please <a href="<%= "#{Api::Application.config.www_url}activity/cash_outs/new" %>">click here</a>.
</p>
<p>
  Time to show off! Now that you've collected a bounty, we'd like to offer you a Bountysource sticker to display proudly. Reply to this email with your full name and mailing address (non-US addresses are good, too!) and we'll send one to you right away!
</p>
