<p>A team claim was submitted:</p>

<ul>
  <li>User: <a href="https://www.bountysource.com/people/<%=@person.id%>"><%=@person.display_name %></a> (ID: <%=@person.id %>)</li>
  <li>Email: <%=@person.email%></li>
  <li>Team: <a href="https://www.bountysource.com/teams/<%=@team.slug%>"><%=@team.name%></a></li>
  <li>Notes: <%=@notes%></li>
</ul>

Thanks!
