<p>Hi <%= @person.display_name %>,</p>

<p><a href="<%= "#{Api::Application.config.www_url}people/#{@developer_goal.person.to_param}" %>"><%= @developer_goal.person.display_name %></a> has placed a <%= number_to_dollars(@developer_goal.amount) %> goal on an issue that you backed, "<a href="<%= "#{Api::Application.config.www_url}issues/#{@developer_goal.issue.to_param}" %>"><%= @developer_goal.issue.title %></a>".</p>

<p>Spread the word or increase your contribution to help reach <a href="<%= "#{Api::Application.config.www_url}people/#{@developer_goal.person.to_param}" %>"><%= @developer_goal.person.display_name %>'s</a> goal: <%= "#{Api::Application.config.www_url}issues/#{@developer_goal.issue.to_param}" %></p>