Hi <%= @person.first_name %>,<br/>
<br/>
Oh no! We've encountered a billing error:<br/>
<br/>
<b>Method:</b> <%=@payment_notification.payment_method.description%><br/>
<b>Error:</b> <%=@payment_notification.error_message%><br/>
<br/>
<table border="1" cellspacing="0" cellpadding="5">
  <thead>
    <tr>
      <th>Team</th>
      <th>Period</th>
      <th>Display</th>
      <th>Reward</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <% @shopping_cart.items.select { |s| s['item_type'] == 'support_level_payment' }.each do |split| %>
      <% support_level = @shopping_cart.person.support_levels.where(id: split['support_level_id']).first! %>
      <tr>
        <td><a href="https://salt.bountysource.com/teams/<%=support_level.team.slug%>"><%=support_level.team.name%></a></td>
        <td><%=Date.parse(split['period_starts_at']).strftime("%b %e, %Y")%> - <%=Date.parse(split['period_ends_at']).strftime("%b %e, %Y")%></td>
        <td><%=support_level.owner ? support_level.owner.display_name : 'Anonymous'%></td>
        <td><%=support_level.reward.title if support_level.reward%></td>
        <td>$<%=sprintf("%0.02f", split['amount'].to_f)%></td>
      </tr>
    <% end %>
    <tr>
      <td colspan="4" align="right"><b>Total:</b></td>
      <td colspan="4">$<%=sprintf("%0.02f", @shopping_cart.calculate_gross_money)%></td>
    </tr>
  </tbody>
</table>
<br/>
<br/>
Please update your payment details by visiting: <a href="https://salt.bountysource.com/">https://salt.bountysource.com/</a><br/>
If you have any questions or concerns, please email: <a href="mailto:support@bountysource.com">support@bountysource.com</a><br/>
