<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>

  <%= yield :head %>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Bountysource</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="icon" href="favicon.ico?v=3">
  <link rel="shortcut icon" href="favicon.ico?v=3">
  <link rel="apple-touch-icon" href="https://cloudinary-a.akamaihd.net/bountysource/image/upload/d_noaoqqwxegvmulwus0un.png,c_pad,w_200,h_200/apple-icon-180x180_sojlfw.png">
  <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/gbglnjeiihigninohoiomjamaapnighb">

  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">if (window.google) google.load('visualization', '1.0', {'packages':['corechart']});</script>
  <script src="https://widget-convert.bancor.network/v1"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-bootstrap-colorpicker/3.0.7/css/colorpicker.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700" rel="stylesheet">
  <%= stylesheet_link_tag "bountysource" %>

  <meta http-equiv="pragma" content="no-cache" />

</head>
<body ng-app="app" ng-controller="AppController">

  <%= yield :body %>

  <%= yield %>

  <noscript>
    <h3 class="text-center">Javascript Required. Kindly enable Javascript.</h3>
  </noscript>

  <div id="wrap">
    <div id="navbar">
      <ng-include src="'app/layout/navbar.html'"></ng-include>
    </div>
    <!-- <div class="container"><recommendation-box></recommendation-box></div> -->
    <div ng-class="{ container: global_container, container_top_margin: global_container }" ng-view=""></div>
  </div>

<div id="footer">
  <ng-include src="'app/layout/footer.html'"></ng-include>
</div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-route.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-resource.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-sanitize.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-bootstrap-colorpicker/3.0.7/js/bootstrap-colorpicker-module.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-utils/0.1.1/angular-ui-utils.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/showdown/0.4.0/Showdown.min.js"></script>
  <script>window.Moment = window.moment;</script>

  <%= render "layouts/env" %>
  <%= javascript_include_tag "app" %>
</body>
</html>
